html {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Inter", system-ui, -apple-system, sans-serif;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	background-color: #edf2f7;
}

* {
	box-sizing: border-box;
}

a,
a:active {
	color: #3182ce;
}

a:hover {
	color: #2c5282;
	text-decoration: underline;
}

dl {
	display: grid;
	grid-template-columns: 100px 1fr;
	padding-top: 1rem;
}

dt {
	grid-column-start: 1;
	font-size: 14px;
	color: #848280;
}

dd {
	grid-column-start: 2;
	text-align: right;
}

h1 {
	font-size: 2.25rem;
	line-height: 2.5rem;
	font-weight: 700;
}

h2 {
	font-size: 1.25rem;
	line-height: 1.25rem;
	font-weight: 700;
}

h3 {
	font-weight: 700;
}

.grey {
	color: #848280;
}

.page-container,
.detail-page-container,
.detail-flex-container {
	padding: 1rem;
}

.page-container {
	padding-bottom: 2rem;
}

.build-info,
.footer-info,
.counter-tile-rank,
.counter-tile-link p,
.back-link {
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.sort-controls {
	padding-bottom: 2rem;
}

.sort-select-container {
	display: inline-block;
	position: relative;
	margin-left: 0.5rem;
}

.sort-select {
	display: block;
	appearance: none;
	border: 1px solid #cbd5e0;
	padding-left: 0.25rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-right: 2rem;
	border-radius: 0.25rem;
	box-shadow:
		0 1px 3px 0 rgba(0, 0, 0, 0.1),
		0 1px 2px 0 rgba(0, 0, 0, 0.06);
	line-height: 1.5;
}

.sort-select:hover {
	border-color: #a0aec0;
}

.sort-select:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.sort-select-arrow {
	pointer-events: none;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: #4a5568;
}

.sort-select-arrow svg {
	fill: currentColor;
	height: 1rem;
	width: 1rem;
}

.counters-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

@media (min-width: 768px) {
	.counters-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (min-width: 1024px) {
	.counters-grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (min-width: 1280px) {
	.counters-grid {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

.map-container {
	grid-row: span 2 / span 2;
	grid-column: span 2 / span 2;
	height: 16rem;
}

@media (min-width: 1024px) {
	.map-container {
		height: auto;
	}
}

.counter-card,
.detail-card,
.plot-container {
	border-radius: 0.75rem;
	background-color: #fff;
}

.footer-info {
	padding-top: 2rem;
	width: 50%;
}

.logo-link {
	float: left;
	width: 5rem;
	cursor: pointer;
}

.detail-flex-container {
	display: flex;
	flex-wrap: wrap-reverse;
}

.detail-sidebar {
	width: 100%;
	padding-right: 1rem;
}

@media (min-width: 768px) {
	.detail-sidebar {
		width: calc(100% / 3);
	}
}

.detail-main {
	width: 100%;
}

@media (min-width: 768px) {
	.detail-main {
		width: calc(200% / 3);
	}
}

.counter-tile,
.detail-card,
.plot-container {
	padding: 1.5rem;
}

.detail-card {
	margin-bottom: 1rem;
}

.detail-card img {
	max-width: 100%;
	height: auto;
}

.plot-container {
	width: 100%;
	margin-bottom: 0.75rem;
}

.font-mono {
	font-family:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
}

.counter-tile {
	position: relative;
}

.counter-tile-rank {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	padding-top: 1rem;
	padding-right: 1rem;
}

.counter-tile-link {
	cursor: pointer;
}

.counter-tile-counters {
	font-size: 0.75rem;
	line-height: 1rem;
	color: #3182ce;
	cursor: pointer;
}

.counter-tile-counters:hover {
	color: #2c5282;
	text-decoration: underline;
}

.map-full {
	width: 100%;
	min-height: 100%;
}

.map-small {
	width: 100%;
	height: 16rem;
}

.plot-container h3:not(:first-child),
.detail-card h3:not(:first-child) {
	padding-top: 0.5rem;
}

.inline-icon {
	width: 1rem;
	display: inline;
	vertical-align: middle;
}
