@tailwind base;

/* Write your own custom base styles here */
html {
  margin: 0;
  padding: 0;
}

body {
  @apply font-sans;
  @apply px-4;
  @apply py-1;
  @apply bg-gray-200;
}

* {
  box-sizing: border-box;
}

a {
  @apply text-blue-600;
  @apply underline;
}

dl {
  @apply grid;
  grid-template-columns: 100px 1fr;
}

dt {
  @apply text-gray-700;
  @apply col-start-1;
}

dd {
  @apply col-start-2;
  @apply text-right;
}

h1 {
  @apply text-4xl;
  @apply font-bold;
}

h2 {
  @apply text-lg;
  @apply font-bold;
}

h3 {
  @apply font-bold;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */
