@tailwind base;

/* Write your own custom base styles here */
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, system-ui, -apple-system, sans-serif;
  @apply px-4;
  @apply py-1;
  @apply bg-gray-200;
}

* {
  box-sizing: border-box;
}

a,
a:active {
  @apply text-blue-600;
}

a:hover {
  color: #12508b;
  @apply underline;
}

dl {
  @apply grid;
  grid-template-columns: 100px 1fr;
}

dt {
  @apply col-start-1;
  font-size: 14;
  color: #848280;
}

dd {
  @apply col-start-2;
  @apply text-right;
}

h1 {
  @apply text-4xl;
  @apply font-bold;
}

h2 {
  @apply text-xl;
  @apply font-bold;
  @apply leading-5;
}

h3 {
  @apply font-bold;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */
